<div id="<%= dom_id shipment %>">
  <p>
    <strong>Order:</strong>
    <%= shipment.order_id %>
  </p>

  <p>
    <strong>Shipping date:</strong>
    <%= shipment.shipping_date %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= shipment.address %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= shipment.status %>
  </p>

  <p>
    <strong>Staff:</strong>
    <%= shipment.staff_id %>
  </p>

</div>
